@import url("components/avatar.css");
@import url("components/tabs.css");
@import url("components/profile_header.css");
@import url("components/list.css");

body {
  margin: 0;
  font-family: 'Space Mono', sans-serif;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}
